@{
    ViewBag.Title = "Home Page";
}

<h2>Dekanat Web Example</h2>

<p>
    This is a simple demonstration of ASP.NET MVC web-site creation
    unsing EntityFramework SqlServer and code-first database generation.
</p>